.background-image {
    width: auto;
    height: 100%;
    position: absolute;
    z-index: 0;
}

.container {
    height: 80vh;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;
    min-width: 80vw;
}

.content {
    z-index: 1;
    padding-left: 10%;
    font-size: 1.5rem;
    color: white;
    font-family: "Open Sans";
}

.container:hover {
    opacity: 50%;
}